<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>

    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or
        sites.
    </p>

    <h4>Angular</h4>

    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>

    <p>Spectacular Test Runner for JavaScript.</p>
</div>
<div class="row marketing" ng-controller="ProjectCtrl">
    <h3>Projects</h3>
    <input type="text" ng-model="search.title"/>
    <table class="table">
        <thead>
        <th>Title</th>
        <th>Start</th>
        <th>End</th>
        </thead>
        <tr ng-repeat="project in projects | filter:search | orderBy:'-end_date' | limitTo:5">
            <td>{{project.title}}</td>
            <td>{{project.start_date | projectDate }}</td>
            <td>{{project.end_date | projectDate }}</td>
        </tr>
    </table>
</div>