<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h1>Marc Weinberger</h1>

                <h2>SOFTWARE ENGINEER</h2>
            </div>
        </div>
    </div>
</div>

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h4>ABOUT</h4>
            </div>
            <div class="col-lg-6">
                <p>Hello there! I'm Marc and I'm a software engineer with 10 years of professional experience. I'm interested in
                    various aspects of agile software development, but my major focus is on developing web and mobile
                    applications.</p>
            </div>
            <div class="col-lg-3">
                <h4>DOWNLOAD RESUME</h4>
            </div>
        </div>
    </div>
</div>

<div id="resume">

</div>

<div id="skills" ng-controller="SkillCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h4>SKILLS</h4>
            </div>
            <div ng-repeat="page in pages">
                <div ng-repeat="skill in skills | startFrom:page*pageSize | limitTo:pageSize ">
                    <div id="{{skill.id}}" class="col-lg-2 centered" skill="{{skill.skill}}"
                         knowledge="{{skill.knowledge}}"></div>
                </div>
                <div class="col-lg-2 col-lg-offset-1"></div>
            </div>
        </div>
    </div>
</div>


<div id="projects" ng-controller="ProjectCtrl">
    <h3>Projects</h3>
    <label for="filter">Filter: </label>
    <input id="filter" type="text" ng-model="search.title"/>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        <tr ng-repeat="project in projects | filter:search | orderBy:'-end_date' | limitTo:5">
            <td>{{project.title}}</td>
            <td>{{project.start_date | projectDate }}</td>
            <td>{{project.end_date | projectDate }}</td>
        </tr>
    </table>
</div>