<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h1>Marc Weinberger</h1>

                <h2>SOFTWARE ENGINEER</h2>
            </div>
        </div>
    </div>
</div>

<div id="green">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 centered">
                <img src="images/iphone.png" alt="">
            </div>

            <div class="col-lg-7 centered">
                <h3>WHAT WE CAN DO?</h3>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
</div>


<div ng-controller="ProjectCtrl">
    <h3>Projects</h3>
    <label for="filter">Filter: </label>
    <input id="filter" type="text" ng-model="search.title"/>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        <tr ng-repeat="project in projects | filter:search | orderBy:'-end_date' | limitTo:5">
            <td>{{project.title}}</td>
            <td>{{project.start_date | projectDate }}</td>
            <td>{{project.end_date | projectDate }}</td>
        </tr>
    </table>
</div>